<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stalker</title>

    <!-- Bootstraps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://github.com/hirusha-adi/Stalker/raw/main/media/logo-with-text.png" alt="Stalker"
                    width="150px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAboutMe"
                            aria-controls="offcanvasAboutMe">About</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">

        <div id="top-part">
            <br>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 text-center">
                    <div class="my-div">
                        <img src="{{ url_for('static', filename='images/logo-with-text.png') }}" alt="logo"
                            width="100%">
                    </div>
                </div>
            </div>
        </div>

        <div id="sherlock">
            <br>
            <h2>Sherlock</h2>
            <p>
                Sherlock is an open-source intelligence (OSINT) tool designed for online investigations. It allows users
                to
                search for and gather information from various online platforms and social media networks based on a
                specific username or profile name. Sherlock is particularly useful for online reconnaissance, digital
                footprint analysis, and information gathering about individuals across the internet.

                The displayed table on the webpage represents profiles collected by Sherlock during its online
                investigations. These profiles include data such as usernames, platform names, profile links, HTTP
                status
                codes, and response times, all of which are collected from various online sources and platforms. The
                table
                provides a structured and organized view of the information gathered by Sherlock, making it easier for
                users
                to access and analyze the collected data.
            </p>
            <table class="table table-striped table-hover" id="sherlock-table-list">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Platform Name</th>
                        <th scope="col">Profile Link</th>
                        <th scope="col">HTTP Status</th>
                        <th scope="col">Response Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <!-- About - Offcanvas Side -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasAboutMe"
        aria-labelledby="offcanvasAboutMeLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasAboutMeLabel">About <b>Stalker</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                This a powerful <b>O</b>pen <b>S</b>ource <b>I</b>n<b>t</b>elligence Tool (<b>OSINT</b> Tool) that is
                developed to be beginner friendly and to be used by everyone. This tool is <b>NOT <i>illegal</i></b>.
                All it does is gather and display all the publicly available information at one place.
            </p>
            <p>
                <b>
                    <ul>
                        <li><a href="#">Read Documenation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </b>
            </p>
            <br>
            <p>
                <b>Developers:</b>
            </p>

            <div class="card">
                <img src="https://pbs.twimg.com/profile_images/586541177131773953/W3al0XET_400x400.jpg"
                    class="card-img-top" alt="@hirusha-adi">
                <div class="card-body">
                    <h5 class="card-title">@hirusha-adi</h5>
                    <p class="card-text">Hello! 👋 I'm Hirusha Adikari. I'm the main creator of this fun OSINT tool
                        "Stalker". I'm
                        the
                        creator of
                        <a href="https://github.com/hirusha-adi/InstaStalker" target="_blank"
                            rel="noopener noreferrer">InstaStalker</a>,
                        <a href="https://hirusha-adi.github.io/GifGang/" target="_blank"
                            rel="noopener noreferrer">GifGang</a>,
                        <a href="https://github.com/hirusha-adi/Fuel-Availability" target="_blank"
                            rel="noopener noreferrer">Fuel Check</a>
                        and many more. 😉
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://github.com/hirusha-adi/" class="card-link">
                        <img src="https://cdn.discordapp.com/attachments/1035974637047255111/1035981950818730034/unknown.png"
                            alt="GitHub" width="30px">
                    </a>
                    <a href="https://github.com/hirusha-adi/" class="card-link">
                        <img src="https://cdn.discordapp.com/attachments/1035974637047255111/1035982218637623329/unknown.png"
                            alt="GitHub" width="35px">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstraps -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $.get('/get/sherlock', function (data) {
                if (data.length === 0) {
                    $('#sherlock-table-list tbody').html('<tr><td colspan="6">No results</td></tr>');
                } else {
                    var tableBody = $('#sherlock-table-list tbody');
                    $.each(data, function (index, item) {
                        var row = '<tr>' +
                            '<td>' + item[0] + '</td>' +
                            '<td>' + item[1] + '</td>' +
                            '<td>' + item[2] + '</td>' +
                            '<td><a href="' + item[3] + '">' + item[3] + '</a></td>' +
                            '<td>' + item[4] + '</td>' +
                            '<td>' + item[5] + '</td>' +
                            '</tr>';
                        tableBody.append(row);
                    });
                }
            });
        });
    </script>

</body>

</html>